/*      <h1>Comments :</h1>\
      <% @article.comments.each do |comment| %>\
          <p>\  
            <strong class = "usr">User :</strong>\
            <%= comment.user.email %>\
          </p>\
        <p>\
            <strong class = "usr">Comment :</strong>\
            <%= comment.body %>\
          </p>\
        <p>\
        <%= link_to "Delete Comment", [comment.article, comment],\
                 method: :delete,\
                 data: { confirm: "Are you sure?" } %>\
        </p>\
      <% end %>\
    </div>';

var comm = '<div>\
              <p>\
            <strong class = "usr">User :</strong>\
            <%= @comment.user.email %>\
          </p>\
        <p>\
            <strong class = "usr">Comment :</strong>\
            <%= @comment.body %>\
          </p>\
        <p>\
        <%= link_to "Delete Comment", [@comment.article, @comment],\
                 method: :delete,\
                 data: { confirm: "Are you sure?" } %>\
        </p>\
            </div>';*/

var comm = '<div>\
            <h1 class = "usr">Comments :</h1>\
            <% @a.comments.each do |commen| %>\
            <p>\
            <strong class = "usr">User :</strong>\
            <%= commen.user.email %>\
            </p>\
        <p>\
            <strong class = "usr">Comment :</strong>\
            <%= commen.body %>\
          </p>\
        <p>\
        <%= link_to "Delete Comment", [commen.article, commen],\
                 remote: true,\
                 method: :delete,\
                 data: { confirm: "Are you sure?" } %>\
        </p>\
         <% end %>\
            </div>';

var message = '<center><div>\
               <% if @flag == 1 %>\
               <p> Your Comment has been added successfully </p>\
               <% elsif @flag == 0 %>\
               <p> creation failed </p>\
               <%elsif @flag == 2 %>\
               <p> comment deleted successfully </p>\
               <% elsif @flag == 3 %>\
               <p> Deletion failed </p>\
               <% end %>\
               </div></center>'

$('#comment_box').html(comm);  
$('.comm_class').val(" ");
$('#messg').html(message);