<!DOCTYPE html>
<html>
  <body class="tb">
    <center>
    <h1>Listing articles</h1>
    <p class = "p1"><%= link_to 'New article', new_article_path %></p>
    <div class = "divr">
      <% if !(current_user.nil?)%>
        <p class = "p1, fr"><%= link_to 'Log out', 'users/sign_out', method: :delete %></p>
        <p class = "p1, fr"><%= current_user.email %></p>
        <p class = "p2"><%= link_to "Change your password", edit_user_registration_path %></p>
      <% end %>
    </div>
    <table>
      <tr>
        <th>Title</th>
        <th>Text</th>
        <th colspan = "3">Options</th>
      </tr>
 
      <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td><%= link_to'Edit', edit_article_path(article) %></td>
        <td><%= link_to'Show', article_path(article) %></td>
        <td><%= link_to'Delete', article_path(article), method: :delete, data: {confirm: 'Are you sure'} %></td>
      </tr>
      <% end %>
    </table>
    </center>
  </body>
</html>