
  <br/><body class="tb wood container-fluid">
    <center>
    <h1>Listing articles</h1>
    <p class = "p1"><%= link_to 'New article', new_article_path %></p>
    <table class = "table table-bordered">
      <tr>
        <th>Title</th>
        <th>Author</th>
      
      </tr>
      <% if current_user.email != "admin@gmail.com" %>
        <% @articles.each do |article| %>
          <% if article.isactive.nil? %>
            <tr>
              <td><div class = "td1"><%=link_to article.title, article_path(article)%></div></td>
              <td><%= article.user.email %></td>
              <% if article.user_id == current_user.id %>
                <td><%= link_to'Edit', edit_article_path(article) %></td>
                <td><%= link_to'Delete', article_path(article), method: :delete, data: {confirm: 'Are you sure'} %></td>
              <% end %> 
            </tr>
          <% end %>
        <% end %>
      <% else %>
        <% @articles.each do |article| %>
          <tr>
            <td><div class = "td1"><%=link_to article.title, article_path(article)%></div></td>
            <td><%= article.user.email %></td>
            <td><%= link_to'Edit', edit_article_path(article) %></td>
            <td><%= link_to'Delete', article_path(article), method: :delete, data: {confirm: 'Are you sure'} %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <div class = "row">
      <div class = "col-sm-auto page1"><%= will_paginate @articles %></div>
    </div>
    </center>
  </body>
