
	<body class = "container-fluid">
    <div class = "row" >
		<div class = "col-sm-auto">
			<center><div class = "link1"><%= link_to 'Home', articles_path%></div></center></div>
      <% if @article.user_id == current_user.id %><div class = "col-sm-auto">
			   <center><div class = "link1"><%= link_to'Edit', edit_article_path(@article) %></div></center></div>
			<% end %>
		</div>
    <br/>
		<div class = " row">
			<div class = "col-sm-12 font24"><p><center>
	  			<strong class = "font32">Title : </strong>
	  			<%= @article.title %>
			</center></p>
    </div>
   <div class = "brown">
			<p class = "brown"><center>
	  			<%= @article.text %>
			</center></p>
		</div>
  </div>

		
		<div id = "comment_box" class = "d2 green">
			<h1 class = "wood">Comments :</h1>
			<% @article.comments.each do |comment| %>
	  			<p>
	    			<strong class = "usr">User :</strong>
	    			<%= User.find(comment.user_id).email %>
	  			</p>
	 
				<p>
	    			<strong class = "usr">Comment :</strong>
	    			<%= comment.body %>
	  			</p>

				<p>
				<%= link_to 'Delete Comment', [comment.article, comment],
                 remote: true,
	               method: :delete,
	               data: { confirm: 'Are you sure?' } %>
	 			</p>
			<% end %>
		</div>
    <div id = "messg">
    </div>

		<div class = "d3"><center>
			<h2 class = "white">Add a comment :</h2>
			<%= form_for([@article, @article.comments.build],remote: true) do |f| %>
		  		<p>
		   			<%= f.label :Comment, class: 'text_area wood' %><br>
		    		<%= f.text_area :body, class: 'text_area wood comm_class' %>
		  		</p>
		  		<p>
		    		<%= f.submit class: 'submit_btn' %>
		  		</p>
			<% end %></center>
		</div>
</body>

